# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Ambiente / segredos
.env
.venv-dbt/
*.json
!requirements.txt

# Airflow
logs/
airflow.cfg
airflow.db

# dbt
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/

# Dados locais
data/raw/*
data/staging/*
!data/raw/.gitkeep
!data/staging/.gitkeep

# OS/IDE
.DS_Store
.vscode/
.idea/
